
**/.vs/*

*.VC.opendb
*.VC.db

**/Dist/*
**/Win32/*
**/x64/*

TestAPI/*.png
TestAPI/*.tif
TestAPI/*.TIFF
TestAPI/*.jpg
TestAPI/*.gif
TestAPI/*.ico
Wrapper/FreeImagePlus/test/*.png
Wrapper/FreeImagePlus/test/*.tif
Wrapper/FreeImagePlus/test/*.tiff
